*.dcu
*.identcache
*.phb
*.dproj
__history/
*.ppu
*.~dpr
*.~dsk
*.dof
/ext/php_osinfo/php_osinfo.dll
*.dsk
*.or
/ext/php_winres/php_winres.dll
/ext/php_squall/php_squall.dll
/output
/backup
/build
/php5ts.dll
*.exe
*.bak

/Squall.dll
/avcodec-53.dll
/avformat-53.dll
/avutil-51.dll
/d3dcompiler_43.dll
/d3dx9_43.dll
/ext/*.dll

/icudt.dll
/libEGL.dll
/libGLESv2.dll
/libcef.dll
/libeay32.dll
/ssleay32.dll
/core.phar
